<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View and Add Criminals</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <style>
        body {
            background-image: url('./static/crime.jpg');
            background-size: cover;
            background-position: center;
        }
        .container, .content {
            background: rgba(255, 255, 255, 0.8); /* Add a white semi-transparent background */
            margin-top: 20px;
            padding: 20px;
            border-radius: 10px;
        }
        .header {
            margin-bottom: 20px;
        }
        .message, .add-more-button {
            display: none; /* Initially hide the message and Add More button */
        }
    </style>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" style="color: black;">Crime Records</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">S</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/whoarewe">Who Are We?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gethelp">Get Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <h2>Crime List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Crime ID</th>
                    <th>Criminal ID</th>
                    <th>Classification</th>
                    <th>Date Charged</th>
                    <th>Crime Status</th>
                    <th>Hearing Date</th>
                    <th>Appeal Cut Date</th>
                </tr>
            </thead>
            <tbody>
                {% for crime in crimes %}
                <tr>
                    <td>{{ crime['Crime_ID'] }}</td>
                    <td>{{ crime['Criminal_ID'] }}</td>
                    <td>{{ crime['Classification'] }}</td>
                    <td>{{ crime['Date_charged'] }}</td>
                    <td>{{ crime['Crime_status'] }}</td>
                    <td>{{ crime['Hearing_date'] }}</td>
                    <td>{{ crime['Appeal_cut_date'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
 
    <div class="container">
        <h2>Search for a Crime by ID</h2>
        <form id="searchCrimeForm" action="/search_crime" method="POST">
            <div class="form-group">
                <label for="crime_id" style="color: black;">Crime ID:</label>
                <input type="number" class="form-control" id="crime_id" name="crime_id" required>
                <input type="submit" class="btn btn-primary mt-2" value="Search Crime">
            </div>
        </form>
    
        <!-- Section to dynamically display crime details -->
        <div id="crimeDetails" class="mt-3">
            {% if results %}
                {% for key, items in results.items() %}
                    <h3>{{ key|capitalize }}</h3>
                    {% if items %}
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    {% for column in items[0].keys() %}
                                        <th>{{ column }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                    <tr>
                                        {% for value in item.values() %}
                                            <td>{{ value }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No data available for {{ key }}</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No details available for the provided Crime ID.</p>
            {% endif %}
        </div>
    </div>
    <script>

    document.getElementById('searchCrimeForm').onsubmit = function(event) {
            event.preventDefault(); // Prevent the form from submitting normally
            var crimeID = document.getElementById('crime_id').value;

            fetch('/search_crime', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({crime_id: crimeID})
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    console.error('Error:', data.error);
                    document.getElementById('crimeDetails').innerHTML = '<p>An error occurred while fetching the crime details.</p>';
                } else {
                    displayCrimeDetails(data);
                }
            })
            .catch(error => console.error('Error:', error));
        };

        function displayCrimeDetails(data) {
            var detailsDiv = document.getElementById('crimeDetails');
            detailsDiv.innerHTML = ''; // Clear previous content
            Object.keys(data).forEach(key => {
                const items = data[key];
                let tableHtml = `<h3>${key.charAt(0).toUpperCase() + key.slice(1)}</h3><table class="table table-bordered table-striped"><thead><tr>`;
                if (items.length > 0) {
                    Object.keys(items[0]).forEach(column => {
                        tableHtml += `<th>${column}</th>`;
                    });
                    tableHtml += `</tr></thead><tbody>`;
                    items.forEach(item => {
                        tableHtml += `<tr>`;
                        Object.values(item).forEach(value => {
                            tableHtml += `<td>${value}</td>`;
                        });
                        tableHtml += `</tr>`;
                    });
                    tableHtml += `</tbody></table>`;
                } else {
                    tableHtml += `<p>No data available for ${key}.</p>`;
                }
                detailsDiv.innerHTML += tableHtml;
            });
            detailsDiv.style.display = 'block'; // Ensure the details div is visible
        }

    </script>
    
    {% if role == 'w' %}
    <div class="container mt-4">
        <h2 class="text-center mb-4" style="color: black;">Report a New Crime</h2>
        <form id="reportCrimeForm" action="/report_crime" method="POST" class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="criminal_id">Criminal ID:</label>
                    <input type="number" class="form-control" id="criminal_id" name="criminal_id" required max="999999" min="0" step="1">
                    <div class="invalid-feedback">
                        Criminal ID is required.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="classification">Classification (F/M/O/U):</label>
                    <select class="form-control" id="classification" name="classification" required>
                        <option value="F">Felony</option>
                        <option value="M">Misdemeanor</option>
                        <option value="O">Other</option>
                        <option value="U" selected>Unspecified</option>
                    </select>
                    <div class="invalid-feedback">
                        Please choose a classification.
                    </div>
                </div>
            </div>
    
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="date_charged">Date Charged:</label>
                    <input type="date" class="form-control" id="date_charged" name="date_charged" required>
                    <div class="invalid-feedback">
                        Date charged is required.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="crime_status">Crime Status (CL/CA/IA):</label>
                    <select class="form-control" id="crime_status" name="crime_status" required>
                        <option value="CL">Closed</option>
                        <option value="CA">Case Active</option>
                        <option value="IA">Inactive</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a crime status.
                    </div>
                </div>
            </div>
    
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="hearing_date">Hearing Date (optional):</label>
                    <input type="date" class="form-control" id="hearing_date" name="hearing_date">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="appeal_cut_date">Appeal Cut Date (optional):</label>
                    <input type="date" class="form-control" id="appeal_cut_date" name="appeal_cut_date">
                </div>
            </div>
    
            <button class="btn btn-primary" type="submit">Report Crime</button>
        </form>
    </div>
    
    


    <script>
        document.getElementById('reportCrimeForm').onsubmit = function(event) {
            //event.preventDefault(); // Prevent form submission for the demo
            document.querySelector('.message').style.display = 'block';
            document.querySelector('.add-more-button').style.display = 'inline-block'; // Show the Add More button
        };

        function addMore() {
            document.querySelector('.message').style.display = 'none';
            document.querySelector('.add-more-button').style.display = 'none'; // Hide the Add More button and message
            document.getElementById('reportCrimeForm').reset(); // Reset form for new input
        }
        

    </script>
    {% else %}
    <div class="content">
        <p style="color: black;">You do not have permission to report, edit, or delete a crime.</p>
    </div>
    {% endif %}
    {% if role == 'w' %}
    <div class="container">
        <h2>Update Crime Status</h2>
        <form id="updateCrimeStatusForm" action="/modify_crime_status" method="POST" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="crime_id">Crime ID:</label>
                <input type="number" class="form-control" id="crime_id" name="crime_id" placeholder="Enter Crime ID" required>
                <div class="invalid-feedback">
                    Crime ID is required.
                </div>
            </div>
            <div class="form-group">
                <label for="new_status">New Status:</label>
                <select class="form-control" id="new_status" name="new_status">
                    <option value="CL">Closed</option>
                    <option value="CA">Case Active</option>
                    <option value="IA">Inactive</option>
                </select>
                <div class="invalid-feedback">
                    Please select a new status.
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update Status</button>
        </form>
    </div>
    
    <script>
        // Validation logic
        document.getElementById('updateCrimeStatusForm').addEventListener('submit', function(event) {
            var form = event.target;
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        });
    </script>
    
    {% endif %}
    {% if role == 'w' %}
    <div class="container">
        <h2>Delete Crime Record</h2>
        <form id="deleteCrimeForm" action="/delete_crime" method="POST" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="crime_id">Crime ID:</label>
                <input type="number" class="form-control" id="crime_id" name="crime_id" placeholder="Enter Crime ID" required>
                <div class="invalid-feedback">
                    Crime ID is required.
                </div>
            </div>
            <button type="submit" class="btn btn-danger">Delete Crime</button>
        </form>
    </div>
    
    <script>
        // Validation logic
        document.getElementById('deleteCrimeForm').addEventListener('submit', function(event) {
            var form = event.target;
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        });
    </script>    
    {% endif %}


</body>
</html>

