<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who Are We</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
<div class="header">
    <nav>
        <a href="/">Home</a> | 
        <a href="/gethelp">Get Help</a>
    </nav>
</div>
<div class="content">
    <p>We are:</p>
    <p>Kaiwen Guo, kg3354@nyu.edu</p>
    <p>Haoyu Xie, hx2227@nyu.edu</p>
    <p>We aim to either protect you from criminals or catch you asap :)</p>
    <a href="/">Back to Home</a>
</div>
</body>
</html>



    